
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>点餐管理面板</title>

    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/dashboard.css" rel="stylesheet">
    <style>
        .t{
            width: 100%;
            height: auto;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">点餐系统 V2.0</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li id="tuichu"><a href="#">退出登录</a></li>
            </ul>

        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
                <li>
                    <a href="#">
                        <!--<i class="glyphicon glyphicon-th-large"></i>-->
                        首页
                    </a>
                </li>
                <li>
                    <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
                        商品管理
                        <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                        <li><a href="/leibie">&nbsp;&nbsp;商品分类</a></li>
                        <li><a href="#">&nbsp;&nbsp;商品列表</a></li>
                        <li><a href="/zengjia">&nbsp;&nbsp;增加商品</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <h1 class="page-header">欢迎！</h1>
            <img src="/public/images/1.jpg" alt="" class="t">
        </div>
    </div>
</div>


<script type="text/javascript" src="/public/js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
<script>
    //退出账号
    $("#tuichu").click(function () {
        if (confirm("确认退出吗？")) {
            $.get("/tuichu",function (data) {
                console.log(data)
                if (data.session == 1) {
                    window.location = '/';
                }
            })
        }
    })
</script>
</body>
</html>
